<!-- Begin #header -->
<nav id="header" class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
	    <a class="navbar-brand" href="/">Deploya</a>
	</div>
    <ul class="nav navbar-nav">
        <!-- TODO: This active class needs to be dynamic based on the page. -->
        <li class="active"><a href="home">Home</a></li>
        <!--
        TODO: These are just example links. There might not actually be any navs
        needed at all. These will either go away or be renamed or whateva.
        -->
        <li><a href="pageone">PageOne</a></li>
        <li><a href="pagetwo">PageTwo</a></li>
    </ul>
</nav>
<!-- End #header -->
