<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {{> includes }}
</head>

<body>
    <div id="body">
        <div id="wrapper">
            {{> header }}
		    <div id="page-wrapper" >
		        <div id="content" class="container-fluid">
		            {{{body}}}
		        </div>
			</div> 
	    </div>
    </div>
</body>
</html>