<div class="row">
    <div class="col-lg-12">
	    <h3>Hello World</h3>
        Welcome <b>{{username}}</b>. <-- illustrates pulling a template var.
        <BR><BR>
	    Content is gona go here.
    </div>
</div>
