<script>
$( function()
{
	/**
	 * Submit the form via ajax.
	 */
    $( '#login_form' )
    	.submit( function( event )
	    {
	        $.ajax(
	        {
	            type: 'POST',
	            url:  'auth',
	            data: $( '#login_form').serialize()
	        })
	        	.done( function( data )
	            {
	                if( data.status == "success" )
	                	window.location.replace('home');
	            });

	        // stop the form from submitting.
	        event.preventDefault();
	    } );
});
</script>

<div class="row" style="padding-top:150px;">
	<div class="col-lg-5"></div>
	<div class="col-lg-1">
		<form method="post" id="login_form">
		    <p><input type="text" class="login-field text" name="username" placeholder="Username"/></p>
		    <p><button id="login-submit" type="button"  class="btn btn-primary" onclick="$( '#login_form' ).submit();">login</button></p>
		</form>
	</div>
	<div class="col-lg-6"></div>
</div>
